mixin input(data)
	input(type=data.type ? type=data.type : type="text"  value=data.val ? value=data.val : value="" name=data.name id=data.id placeholder=data.place class=data.class class="global_input")
	if data.txt
		label(for=data.id)!=data.txt





mixin iconify(data)
	.gl__icon 
		span(class="iconify" data-icon=data.icon data-inline=data.inline ? data.inline : false data-width=data.width ? data.width : "2.4rem" data-height=data.height ? data.height : "2.4rem")

mixin customSelect(data)
	.custom-select(data-multiple=data.multiple)
		label(for=data.id)!= data.label
		input.custom-select-input(id=data.id type="text" readonly placeholder=data.placeholder value=data.multiple ? "Выбрано: 0" : "Выберите значение")
		ul.custom-select-dropdown
			each option in data.options
				li.custom-select-option(data-value=option)!= option
				
mixin button(btn)
	.btn(class=btn.theme)
		button(type='button')
			span=btn.name
			.btn_icon
				if btn.theme === 'top'
					img(src="i/icons/arrow_next.svg", alt="")
				else

mixin small_list(data)
	li.small_list_content__item
		.small_list_content__icon
			img(src=`i/small_list/${data.icon}.svg`, alt=data.title)
		.small_list_content__title
			h3=data.title
		.small_list_content__subtitle
			p=data.subtitle

mixin cards(data)
	section.cards
		.section_in
			if data.title === 'Агрегаты' || data.title === 'Оригинальные запчасти'
				.cards_main
					.cards_top
						.cards_top_title
							h2=data.title
						+button({name:"Смотреть все", theme: "top"})
					.cards_content
						ul.cards_content__list
							-for(i = 0; i < 6; i++)
								li.cards_content__item
									.cards_content__item_inner
										.cards_content__item_image
											img(src=`i/cards/${data.image}.png`, alt="")
										.cards_content__item_availability
											if data.availability === 'в наличии'
												img(src="i/icons/check.svg", alt="")
												span в наличии
											else
												img(src="i/icons/cross.svg", alt="")
												span нет в наличии
										.cards_content__item_title
											h3=data.cardtitle
										.cards_content__item_producer
											p Производитель: 
												span=data.producer
										.cards_content__item_price
											p=data.price
												span ₽
										.cards_content__item_button
											+button({name:"Заказать", theme: "secondary"})
			else
				.cards_main
					.cards_top
						.cards_top_title
							h2=data.title
						+button({name:"Смотреть все", theme: "top"})
					.cards_content
						ul.cards_content__list
							-for(i = 0; i < 6; i++)
								li.cards_content__item
									.cards_content__item_inner_other
										.cards_content__item_image_other
											img(src=`i/cards/${data.image}.png`, alt="")
										.cards_content__item_title_other
											h3=data.cardtitle
										.cards_content__item_button_other
											+button({name:"Заказать", theme: "secondary"})